    
    <div class="Foto-Footer">
        <img src="/img/footer/Oblekas-TiendaOnline.png" alt="Logo-Oblekas">
    </div>

    <hr> 

    <div class="Footer">
        <div class="InfoFooter"> 
            <br>
            <style>a {text-decoration: none; color: black;} </style>                
            <li><a href="/tienda/productos/">Productos</a></li>
            <li><a href="/tienda/sobrenosotros/">Quienes Somos</a></li>                    
            <li><a href="/tienda/FAQ/">Preguntas Frecuentes</a></li>                    
            <li><a href="/tienda/contacto/">Contacto</a></li>           
            
        </div>

        <div class="Contacto">                
            <p>CONTACTANOS</p>
            <li>oblekas@hotmail.com</li>
            <li>(02291) 430900</li>
            <li>Av 12 n°1625, Miramar, Buenos Aires</li>
            <li>L a S de 9hs a 18hs</li>          
            
        </div>

        <div class="Redes">
            <ol>NUESTRAS REDES</ol>
            <ol> <i class="fab fa-facebook"></i> Oblekas Miramar </ol>
            <ol> <i class="fab fa-instagram"></i> oblekasmiramar </ol>
            <ol> <i class="fab fa-pinterest"></i> oblekasmiramar </ol>
        </div>
    </div>