<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" href="/tienda"> <img src="/img/nav/Logo-Oblekas.png" alt="Logo-Oblekas"/> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/tienda/sobrenosotros/"> <button class="btn btn-outline-success" type="submit"> Quienes somos </button> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tienda/contacto/"> <button class="btn btn-outline-success" type="submit"> Contacto </button> </a>
        </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/tienda/productos/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <button class="btn btn-outline-success" type="submit"> Productos </button>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/tienda/munecas/">Muñecas</a></li>
            <li><a class="dropdown-item" href="/tienda/animales/">Animales</a></li>
            <li><a class="dropdown-item" href="/tienda/personajes/">Personajes</a></li>
            <li><a class="dropdown-item" href="/tienda/plantas/">Plantas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/tienda/productos/">Ver todos los productos</a></li>
          </ul>
        </li>
       
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button> 
        <a class="nav-link ShoppingCart"><button class="btn btn-outline-success" type="submit"> <i class="fas fa-shopping-cart"> </i></button></a>
      </form> 
      
    </div>
  </div>

</nav>